<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/log-reg.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <section id="header-top-bar">
            <img id="logo-mercado-liebre" src="/images/logo-mercado-liebre.svg">
            <div id="searchbar">
                <input type="text" placeholder="Buscar productos, marcas"><button><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <h3 id="compra-en-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de
                credito!</h3>
        </section>
        <nav id="nav-ul">
            <ul id="ul-left">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul id="ul-right">
                <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i id="burguermenu" class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form action="/" method="post">
            <div class="group-register">
                <input id="nombre-register" type="text" name="nombre" placeholder="Nombre" required>
                <span class="feedback"></span>
            </div>
            <div class="group-register">
                <input id="apellido-register" type="text" name="Apellido" placeholder="Apellido" required>
                <span class="feedback"></span>
            </div>
            <div class="group-register">
                <label id="label-fecha-nacimiento" for="fecha-nacimiento">Fecha de nacimiento</label>
                <input id="fecha-nacimiento" type="date" name="fecha-nacimiento" required>
                <span class="feedback"></span>
            </div>
            <div class="group-register">
                <input id="domicilio-register" type="text" name="domicilio" placeholder="Domicilio" required>
                <span class="feedback"></span>
            </div>
            <div class="group-register">
                <label id="label-perfil-de-usuario" for="perfil-de-usuario">Perfil de usuario:</label>
                <select id="perfil-de-usuario" name="perfil-de-usuario" required>
                    <option value="comprador">Comprador</option>
                    <option value="vendedor">Vendedor</option>
                </select>
            </div>
            <div class="group-register">
                <div id="checkbox-intereses">
                <label id="categorias-de-interes" for="categorias-de-interes">Categorias de interés:</label>
                <div>
                <input type="checkbox" name="categorias-de-interes" value="Electro">Electro
                </div>
                <div>
                <input type="checkbox" name="categorias-de-interes" value="Moda">Moda
                </div>
                <div>
                <input type="checkbox" name="categorias-de-interes" value="Hogar">Hogar
                </div>
                <div>
                <input type="checkbox" name="categorias-de-interes" value="Jugueteria">Jugueteria
                </div>
                <div>
                <input type="checkbox" name="categorias-de-interes" value="Vida sana">Vida sana
                </div>
                <span class="feedback"></span>
                </div>
            </div>
            <div class="group-register">
                <label id="label-foto-usuario-register" for="foto-usuario">Añade una foto de perfil:</label>
                <input id="añade-foto-usuario" type="file" name="foto-usuario" accept="image/*">
            </div>
            <div class="group-register">
                <input id="label-contraseña-register" type="password" name="contraseña" placeholder="Contraseña" required>
                <span class="feedback"></span>
            </div>
            <div class="group-register">
                <input id="label-confir-contraseña-register" type="password" name="confirmar-contraseña" placeholder="Confirmar contraseña" required>
                <span class="feedback"></span>
            </div>
            <div class="group-register">
                <button id="boton-enviar-register" type="submit" value="enviar">Enviar</button>
            </div>
            <div class="group-register">
                <button id="boton-reset-register" type="reset" value="borrar">Borrar</button>
            </div>
        </form>
    </main>
    <footer>
        <div id="main-footer">
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        </div>
        <section>
            <h4 id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>

</html>